.banner{
  background-image:  linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("https://res.cloudinary.com/dloadb2bx/image/upload/v1623530934/photo-1455619452474-d2be8b1e70cd_zraoo0.jpg");
  height: 90vh;
  background-size: 100% 100%;
}

.restaurant-header{
  margin: 0 auto;
  width: 70%;
  color: #fff;
  margin-top: 10%;
}
