<div class="container pt-5">
      <nav class="navbar navbar-custom navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">DELIVERY</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Restaurants", "#", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <% if user_signed_in? %>
                  <%= link_to "Dashboard", user_profile_path(current_user.id), class: "btn btn-custom-login" %>
                <% else %>
                  <%= link_to "Login",  user_session_path, class: "btn btn-custom-login" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
