<div class="banner">
  <%= render 'shared/navbar' %>

  <div class="container">
    <div class="banner-container">
      <h1>Order Delivery & Take-out</h1>
      <p>Find the right meal for today</p>
      <div class="search-bar">
        <input class="input-search" type="text"> <span class="input-btn">Feed me!</span>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="restaurant-grid">
    <% @restaurants.each do |restaurant| %>
      <div class="restaurant-card">
        <%= link_to restaurant_path(restaurant.id) do %>
        <img class="img-restaurant" src="<%= restaurant.photo %>" alt="">
        <p><%= restaurant.name %></p>
        <% end %>
      </div>
    <% end %>

  </div>

</div>
