<%= render 'shared/navbar' %>

<div class="container">
  <div class="restaurant-grid">
    <% @restaurants.each do |restaurant| %>
      <div class="restaurant-card">
        <%= link_to restaurant_path(restaurant.id) do %>
        <img class="img-restaurant" src="<%= restaurant.photo %>" alt="">
        <p><%= restaurant.name %></p>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
